h1{
    font-size: calc(2rem + 3vw);
    padding-left: 3%;
}
.accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #994722;

    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.topPadding{
    padding-top:12%;
}
.custom-shape-divider-top-1745000184 {
    position: absolute;
    transform:translate(0, 100%);

    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}
.custom-shape-divider-top-1745000184 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 75px;
}

.custom-shape-divider-top-1745000184 .shape-fill {
    fill: #f3d373;
}
.prefooter1{
    transform:translateY(1px);
}