<div class="section p-5">
    <form class="p-3 col-sm-6"  [formGroup]="profileForm" (ngSubmit)="onSubmit()">
        <label for="name">Name: </label>
        <input class="contactInput" id="name" type="text" formControlName="name" required >
        <div class="invalid" *ngIf="profileForm.invalid && (profileForm.get('name')?.dirty || profileForm.get('name')?.touched)">
            <div *ngIf="profileForm.get('name')?.hasError('required')">Name is required.</div>
        </div>
        <label for="email">Email: </label>
        <input class="contactInput" id="email" type="email" formControlName="email" required>
        <div class="invalid" *ngIf="profileForm.invalid && (profileForm.get('email')?.dirty || profileForm.get('email')?.touched)">
            <div *ngIf="profileForm.get('email')?.hasError('required')">Email isn required</div>
            <div *ngIf="profileForm.get('email')?.hasError('email')">Email isn't the correct format.</div>
        </div>
        <button class="btn" type="submit" [disabled]="!profileForm.valid">Submit</button>
    </form>
    
</div>
<div class="prefooter prefooter1"></div>
