<div class="pos-f-t" id="navbar" class="sticky">
    <nav class="navbar navbar-dark navbar-custom">

        <ul class="list-group-horizontal navbar-nav ml-auto nav-flex-icons flex-row d-none d-md-flex navbar-nav nav">
          <li class="list-group-item nav-item"><a [routerLink]="['/home']"> <span class="text-white h4"> Home</span> </a></li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Event Info</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a [routerLink]="['/events']"> <span class="text-white "> Events</span> </a></li>
              <li class="dropdown-item"><a [routerLink]="['/pastwinners']"> <span class="text-white "> Past Winners</span> </a></li>
              <li ><a class="dropdown-item" [routerLink]="['/faq']"> <span class="text-white "> FAQ</span> </a></li>
            </ul>

            </li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Sponsors</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a [routerLink]="['/sponsors']"> <span class="text-white "> Current Sponsors</span> </a></li>
              <li class="dropdown-item"><a [routerLink]="['/sponsorhowto']"> <span class="text-white "> Become a Sponsor</span> </a></li>
            </ul>

            </li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Resources</span>
            </a>
            <ul class="dropdown-menu">
               <li class="dropdown-item"><a [routerLink]="['/howto']"> <span class="text-white "> How to Register</span> </a></li>
              <li><a class="dropdown-item" [routerLink]="['/aboutus']" href="#"><span class="text-white ">About Us</span></a></li>
              <li><a class="dropdown-item" [routerLink]="['/contact']" href="#"><span class="text-white ">Contact Us</span></a></li>
            </ul>
          </li>
         </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons list-group-horizontal mobileNavUL">
          <li class="nav-item">
            <button class="btn btn-primary mobileNav ftdBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-expanded="false" aria-controls="navbarToggle">
              <i class="bi bi-list"></i>
            </button>
          </li>
        </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons list-group-horizontal">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/focotopdog/?hl=en" target="_blank">
            <fa-icon class="social-icon"  [icon]="faInstagram"></fa-icon>&nbsp;&nbsp;
          </a>
        </li>
      </ul>
    </nav>
  <div class="imageDiv"><a href="/home"><img class="img" src="assets/images/topdog_logo.png" alt="Foco Top Dog Logo"></a></div>

    <div class="collapse d-md-none" id="navbarToggle">
      
      <div class=" navbar-custom navbar-mobile p-4">
          <li class="list-group-item nav-item"><a [routerLink]="['/home']" data-bs-toggle="collapse" data-bs-target=".collapse.show"> <span class="text-white h4"> Home</span> </a></li>

            <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Event Info</span>
            </a>
            <ul class="dropdown-menu">
              <li ><a [routerLink]="['/events']" class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".collapse.show"> <span class="text-white "> Events</span> </a></li>
              <li><a [routerLink]="['/pastwinners']" class="dropdown-item" data-bs-toggle="collapse" data-bs-target=".collapse.show"> <span class="text-white "> Past Winners</span> </a></li>
            </ul>

            </li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Sponsors</span>
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" [routerLink]="['/sponsors']" data-bs-toggle="collapse" data-bs-target=".collapse.show"> <span class="text-white "> Current Sponsors</span> </a></li>
              <li><a  class="dropdown-item" [routerLink]="['/sponsorhowto']" data-bs-toggle="collapse" data-bs-target=".collapse.show"> <span class="text-white "> Become a Sponsor</span> </a></li>
            </ul>

            </li>
        <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Resources</span>
            </a>
            <ul class="dropdown-menu">
              <li ><a class="dropdown-item" [routerLink]="['/faq']" data-bs-toggle="collapse" data-bs-target=".collapse.show"> <span class="text-white "> FAQ</span> </a></li>
              <li><a class="dropdown-item" [routerLink]="['/aboutus']" href="#" data-bs-toggle="collapse" data-bs-target=".collapse.show"><span class="text-white ">About Us</span></a></li>
              <li><a class="dropdown-item" [routerLink]="['/contact']" href="#" data-bs-toggle="collapse" data-bs-target=".collapse.show"><span class="text-white ">Contact Us</span></a></li>
            </ul>
          </li>
      </div>
    </div>
  </div>