<div class="pos-f-t" id="navbar" class="sticky">
    <nav class="navbar navbar-dark navbar-custom">

        <ul class="list-group-horizontal navbar-nav ml-auto nav-flex-icons flex-row d-none d-md-flex navbar-nav nav">
          <li class="list-group-item nav-item"><a [routerLink]="['/home']"> <span class="text-white h4"> Home</span> </a></li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Event Info</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a [routerLink]="['/events']"> <span class="text-white h4"> Events</span> </a></li>
              <li class="dropdown-item"><a [routerLink]="['/pastwinners']"> <span class="text-white h4"> Past Winners</span> </a></li>
            </ul>

            </li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Sponsors</span>
            </a>
            <ul class="dropdown-menu">
              <li class="dropdown-item"><a [routerLink]="['/sponsors']"> <span class="text-white h4"> Current Sponsors</span> </a></li>
              <li class="dropdown-item"><a [routerLink]="['/sponsorhowto']"> <span class="text-white h4"> Become a Sponsor</span> </a></li>
            </ul>

            </li>
          <li class="nav-item dropdown list-group-item">
            <a class=" nav-item dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><span class="text-white h4"> Resources</span>
            </a>
            <ul class="dropdown-menu">
              <li ><a class="dropdown-item" [routerLink]="['/faq']"> <span class="text-white h4"> FAQ</span> </a></li>
              <li><a class="dropdown-item" [routerLink]="['/aboutus']" href="#">About Us</a></li>
              <li><a class="dropdown-item" [routerLink]="['/contact']" href="#">Contact Us</a></li>
            </ul>
          </li>
         </ul>

        <ul class="navbar-nav ml-auto nav-flex-icons list-group-horizontal mobileNavUL">
          <li class="nav-item">
            <button class="btn btn-primary mobileNav ftdBtn" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-expanded="false" aria-controls="navbarToggle">
              <i class="bi bi-list"></i>
            </button>
          </li>
        </ul>
      <ul class="navbar-nav ml-auto nav-flex-icons list-group-horizontal">
        <li class="nav-item">
          <a class="nav-link" href="https://www.instagram.com/focotopdog/?hl=en" target="_blank">
            <fa-icon class="social-icon"  [icon]="faInstagram"></fa-icon>&nbsp;&nbsp;
          </a>
        </li>
      </ul>
    </nav>
  <div class="imageDiv"><a href="/home"><img class="img" src="assets/images/topdog_logo.png" alt="Foco Top Dog Logo"></a></div>

    <div class="collapse d-md-none" id="navbarToggle">
      
      <div class=" navbar-custom p-4">
        <a [routerLink]="['/home']"  data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-bicycle" aria-hidden="true"></i> Home</h5>
        </a>
        <a [routerLink]="['/events']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-calendar" aria-hidden="true"></i> Events</h5>
        </a>
        <a [routerLink]="['/sponsors']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Sponsors</h5>
        </a>
                <a [routerLink]="['/sponsors']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Become a Sponsor</h5>
        </a>
                <a [routerLink]="['/pastwinners']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-info-circle" aria-hidden="true"></i> Past Winners</h5>
        </a>
        <a [routerLink]="['/faq']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-question-circle" aria-hidden="true"></i> FAQ</h5>
        </a>
        <a [routerLink]="['/aboutus']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-handshake" aria-hidden="true"></i> About Us</h5>
        </a>
        <a [routerLink]="['/contact']" data-bs-toggle="collapse" data-bs-target=".collapse.show">
          <h5 class="text-white h4"><i class="fa fa-handshake" aria-hidden="true"></i> Contact Us</h5>
        </a>
      </div>
    </div>
  </div>