
 <div class="winner pt-3">
    <h2 class="text">{{pastwinnerInfo.name}} {{pastwinnerInfo.year}}</h2>
    <div class="container py-5">
      <div class="row align-items-start">
          <div class="container">
            <div class="row">
              <div class="col-lg-6">
                <div class="label labelleft"><img src="../../assets/images/past_winners/{{winnerPhoto}}" class="d-block" alt="..."></div>
              </div>
              <div class="col-lg-6">
               <div class="label labelright"><img src="../../assets/images/past_winners/{{winnerLabel}}" class="d-block" alt="..."></div>
              </div>
            </div>
          </div>
          <div class="clear"></div>
      </div>
 </div>
