<div class="pt-5"></div>
<div class="pt-5 header">
    <h1 class="pt-5">How to Become a Sponsor</h1>
</div>
<div class="line headerLine"></div>
<div class="container">
    <div>
        <p>
            Top Dog is a family-fun event where we answer the age-old question of <strong><span class="coloredText">&#34;who is Fort Collins&#39; top dog?&#34;</span></strong> Our friends at Odell are upping the stakes by putting the winning dog on the label of a &#34;Top Dog&#34; beer!
        </p>
    </div>
<div><strong>We can&#39;t meet our goal without the help of people and companies like you!</strong></div>
<div>
    <p>
        Are you interested in becoming a sponsor of this year&#39;s event? By giving to Fort Collins Top Dog, you&#39;ll be able to help fund this community-based event, as well as support dozens of nonprofits in our community.
    </p>
</div>
<div>
    <p>
        This event is unique in that we do not offer &#34;sponsorship tiers.&#34; We feel that it is not appropriate for us to decide how your organization best engages with our audience. Instead, we sit down with you and develop a sponsorship package that is personalized toward what is best for your goals. This leads to far more engagement and visibility for your organization. 
    </p>
</div>
<div>Some examples of other sponsor&#39;s previous involvement include:
    <ul>
        <li>
            A local realtor has hosted a &#34;dog kissing booth&#34; where attendees can get a furry photo to
            remember the event.
        </li>
        <li>A local groomer provided nail trimming for pups in attendance at the event.</li>
        <li>
            A dog treat company provided all the treats to distract dogs and fuel the games. We are happy to help you develop an audience-engagement activity, no matter the industry you are in (even if your business is human-facing and not related to dogs). If you are able to help us put on an amazing event and support the northern Colorado community, we would welcome a conversation. Please feel free to reach out to us through the
            contact us page!
        </li>
    </ul>
</div>
<div class="line breakLine"></div>

<h2>Sponsorship Worksheet</h2>

<div>
    <strong>Common Sponsor Pool:</strong> These incentives will be made available to every sponsor
    <ul>
        <li>
            Acknowledgement on website, promotional materials, and signage at the event
        </li>
    </ul>
</div>

<div>
    <strong>Available sponsor incentive ideas:</strong>
    <ul>
        <li>Banner at event</li>
        <li>Name on all voting slips handed out to attendees</li>
        <li>Opportunity to be called out by speaker at the event</li>
        <li>Opportunity for a speech at the event</li>
        <li>Table at the event</li>
        <li>Dedicated signage at the event</li>
        <li>Dedicated social media post</li>
        <li>Naming rights for one of the four competitive events</li>
        <li>Name on doggy bags / doggy back holder given to attendees</li>
<li>Boosted posts</li>
    </ul>
</div>


<div>
    
    <strong>Sponsor concepts and ideas (This is where we get creative!):</strong>
    <ul>
        <li>Feature your product prominently at the event. i.e:</li>
        <li>Your food is used as the treat they need to sniff out and find</li>
        <li>Your packaging has a treat hidden underneath it</li>
        <li>Your swag is incorporated onto every dog for the cat walk</li>
        <li>Help design one of the events, even incorporating your business</li>
        <li>Your employees are involved in the event</li>
    </ul>
</div>
<div class="line breakLine"></div>

</div>