.photoSection, .carouselSection{
    background-color: #525252;;
    background: linear-gradient(  rgba(82, 82, 82,1), rgba(82, 82, 82, .4));
}
.photoSection{
    display:flex;
    min-height:70vh;
    padding-left:5%;
    img{
        max-height:50vh;
    }
}
.carousel img {
    max-height: 50vh;
    min-width: auto;
    min-height:40vh;
    margin:auto;
  }
  .fullPhoto{
    max-height:150px;
    transform: translateY(30%);
  }
  .barrier{
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 150px;
        }

  }
  .background{
    position:absolute;
    transform:translateY(-100%);
    width: 100%;
    overflow: hidden;
    line-height: 0;
    svg{
      height:100px;
      width:100%;
    }
    .shape-fill{
      fill: #994722;
    }

  }
  .inverted {
    filter:invert(100%)
  }
  .aboveBarrier{
    bottom: 0;
    transform: rotate(180deg) translateY(-1%);
    .shape-fill{
        fill: #525252;
    }
  }
  .belowBarrier{
    top: 0;
    svg{
    height: 85px;
    transform: translateY(-1px);
    }
    .shape-fill{
        fill:rgba(82, 82, 82, .4);
    }
  }
  .carouselSection{
    display:none;
  }
  @media only  screen and (max-width: 1400px){
    .photoSection{
        padding:2%;
    }
  }
  @media only  screen and (max-width: 1200px){

    .carouselSection{
        display:block;
    }
    .photoSection{
        display: none;
    }
  }