 <div class="event">
    <h2 class="text">{{eventInfo.title}}</h2>
    <div class="container py-5">
      <div class="row align-items-start">
          <div class="container">
            <div class="row">
              <div class="col-lg-7">
                <fa-icon class=""  [icon]="icon" class="float-start imgshadow me-3 mb-3" ></fa-icon>
                <p class="text-wrap text">{{eventInfo.details}}</p>
              </div>
              <div class="col-lg-5">
                <app-event-carousel [type]="type"></app-event-carousel>
              </div>
            </div>
          </div>
      </div>
 </div>


