/* You can add global styles to this file, and also import other style files */

.prefooter1{

    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAwJSIgaGVpZ2h0PSI0dnciIHZpZXdCb3g9IjAgMCAxMjgwIDE0MCIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSIjOTk0NzIyIj48cGF0aCBkPSJNMCA0Ny40NEwxNzAgMGw2MjYuNDggOTQuODlMMTExMCA4Ny4xMWwxNzAtMzkuNjdWMTQwSDBWNDcuNDR6IiBmaWxsLW9wYWNpdHk9Ii41Ii8+PHBhdGggZD0iTTAgOTAuNzJsMTQwLTI4LjI4IDMxNS41MiAyNC4xNEw3OTYuNDggNjUuOCAxMTQwIDEwNC44OWwxNDAtMTQuMTdWMTQwSDBWOTAuNzJ6Ii8+PC9nPjwvc3ZnPg==);
    background-size: 100% 4vw;
    bottom: 0;
    height: 4vw;
    z-index: 1;
    transform: scale(1, 1);
}
.ftdBtn{
    background-color: #AE4510;
    color: white;
    font-family: Helvetica, Arial, Lucida, sans-serif !important;
    padding: 16px 30px 16px 30px;
    font-size: 15px;
    font-weight: 500;
    border-radius: 100px;
    margin-bottom: 2%;
    letter-spacing: 2px;
    box-shadow: 0px 10px 20px 0px #994722;
}