<div class="center pt-5 background">
    <h1 class="pt-5 center">FOCO TOP DOG</h1>
    <h3 class="center">Your dog on an Odell beer can!</h3>
    <div class="d-flex justify-content-center">
        <button type="button" class="btn ftdBtn col-11 col-md-8" [routerLink]="'/events'">{{ftdDate}}<sup>th</sup> {{ftdYear}}  {{ftdTime}} </button>
    </div>
    <div class="b d-flex justify-content-center" >
        <a type="button" href="{{ftdLink}}" target="_blank" class="btn ftdBtn col-11 col-md-8" >Make your dog's page now!</a>
    </div>
</div>
<div class="overview pb-5 mt-3 mb-5">
    <div class="d-flex p-2 row m-3">
        <div class="col-12">
            <div class="p-4"> <h3>In Person Competition at Odell Brewing Company</h3>
                    
                Fort Collins is known for its dogs. Thousands of cute, cuddly pooches call this city home. However, the age-old question remains… Who is the top dog in Fort Collins?! Who is the leader of the pack? The best in show? We have teamed up with Odell Brewing to officially answer this question, and support good causes while doing it 
                <fa-icon class="smile"  [icon]="['fas', 'face-smile-wink']"></fa-icon> .</div>
        </div>
    </div>
    <div class="d-flex p-2 row  mb-5">
        <div class="col-12 mb-5 px-xl-5 mx-auto">
            <div class="card p-3 float-start  col-lg-5 col-12 mb-3">
                <div class="card-body ">
                    <fa-icon class="circle-icon float-start"  [icon]="['fas', 'thumbs-up', ]"></fa-icon>

                    <h4 class="col-8"> It's Easy!</h4>
                    <p>
                        All you need to do is create a fun profile for your dog and raise money for a good cause. Make sure to use your dog&#39;s name in the profile instead of your own!
                    </p>
                </div>
            </div>
            <div class="card p-3 col-lg-7 col-12">
                <div class="card-body">
                    <fa-icon  class="circle-icon float-start" [icon]="['fas', 'paw']"></fa-icon>
                    <h4>
                    The winner gets their dog&#39;s image on an in-production run can of Odell beer</h4>
                    <p>
                        The winning dog will have their photo be forever enshrined on a can of Odell beer that they are creating just for this event! We will work with the owner on either selecting an appropriate photo, or taking one specifically for the prize.
                    </p>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="instructions">
    <div class="transition-instr"></div>
    <div class="instructions-content ">
        <div class="col-12">
            <div class="col-12 col-sm-8 mx-auto" ><img class="img col-12" src="assets/images/hops-31495_1280.webp" alt="Hops Filigree"></div>
            <h2 class="col-sm-7 col-12">Want to Enter Your Dog in Top Dog {{ftdYear}}? Here&#39;s How It Works:</h2>
            
        </div>
       
       <div class="d-flex">
           <div class="col-sm-6 col-12">
               <ol class="fs-5 mb-1">
                    <li class="py-1">Sign up your pup starting July 1st and start fundraising for your favorite local charity (you&#39;ll choose from dropdown list).</li>
                    <li class="py-1">
                        Fundraise through August 31st.  Every dog who raises over $50 will each receive a prize package and a check from Top Dog made out to their chosen charity.
                    </li>
                </ol>
                <p>To enter, just create a profile on RallyUp using your pup&#39;s cutest photos and their name. This will be your fundraising page. Need help? Check out our <a href="/howto">guide.</a></p>
                <p>Make your page fun, make it memorable, and show the world why your dog deserves to be Fort Collins&#39; Top Dog!</p>
                <div class="b  col-12 justify-content-center my-3 doubleWidthMed" >
                    <a type="button" href="{{ftdLink}}" target="_blank" class="btn ftdBtn col-12" >Design your dog's page here</a>
            </div>
                <p class="fs-5 mt-5 doubleWidthMed">Make it into the Top 16 and your dog will compete live at our in-person event at Odell Brewing Co., where crown the Grand Prize Winner: Fort Collins Top  Dog {{ftdYear}}, featured on a custom Odell beer label!</p>
                <p class="fs-3 doubleWidthMed">So grab your leash, pick your cause, and get ready to compete for a good cause!</p>
           </div>
           <div class="col-sm-5 flex-column d-flex pt-5 pawTrailPadding notPawsTrailMobile">
                <div class="col-sm-4 align-self-end">
                    <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
                </div>
                <div class="col-sm-3 align-self-end">
                    <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
                </div>
                <div class="col-sm-5 align-self-end">
                    <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
                </div>
                <div class="col-sm-6 align-self-end">
                    <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
                </div>
                <div class="col-sm-5 align-self-end ">
                    <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
                </div>
                
           </div>
           <div class="col-sm-5 flex-column d-flex giantTopPadding pawsMobile">
           
            <div class="col-sm-6 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-5 align-self-end ">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-4 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-3 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-5 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>

            <div class="col-sm-5 align-self-end ">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-4 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-3 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-5 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-6 align-self-end">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            <div class="col-sm-5 align-self-end ">
                <fa-icon  class="brownFont" [icon]="['fas', 'paw']"></fa-icon>
            </div>
            
       </div>

       </div>
        
    </div>

</div>
<div class="col-12 clipX inbetween notMobile">
    <div class="col-sm-7 circle rounded-circle justify-content-center d-flex"> 
        <fa-icon  class="yellowFont float-none m-auto align-middle bigFont" [icon]="['fas', 'paw']"></fa-icon></div>
</div>
<div class="colorSection container">
    <div class="">
        <div class="bd-highlight col-12 row">
            <div class="col-12 col-md-4 p-2  bd-highlight">
                <div class="card card-pink p-3">
                    <img class="card-img-top" src="assets/images/afa_logo.png" alt="AFA Logo">
                    <div class="card-body pt-1 ">
                        <h5 class="card-title">Pick Your Charity</h5>
                        <p class="card-text">
                        Select from our pre-approved charities or submit a new charity for consideration. Approved charities will receive 100% of the funds raised by your profile. We even cover the credit card fees through our wonderful sponsors. Note - you must raise a minimum of $50 for a check to be issued to your charity of choice, otherwise funds stay with FoCo Top Dog, a 501(c)(3) public charity and will be used for community investment.     
                        </p>
                    <a  target="_blank" href="https://www.savinganimalstoday.org/" class="btn btn-primary cardBtn">View More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-2  bd-highlight">
                <div class="card card-green p-3">
                    <img class="card-img-top" src="assets/images/PITTIE_SOMBRERO.JPG" alt="Pitt Bull dog in a sombrero hat.">
                    <div class="card-body pt-1 ">
                        <h5 class="card-title">Fundraising</h5>
                        <p class="card-text">
                            Every dollar you fundraise counts as a vote on your page. Starting July 1, you can start fundraising. Set up your profile to let everyone know what makes your dog AWESOME! Then share that with everyone you want! Keep an eye out for Top Dog related events around town, including a potential opportunity to practice the games before the contest.
                        </p>
                    <a href="{{ftdLink}}" target="_blank" class="btn btn-primary cardBtn">View More Info</a>
                    </div>
                </div>
            </div><div class="col-12 col-md-4 p-2  bd-highlight">
                <div class="card card-blue p-3">
                    <img class="card-img-top" src="assets/images/odells_brewery.jpg" alt="ODell Brewery">
                    <div class="card-body pt-1 ">
                        <h5 class="card-title">In Person Event</h5>
                        <p class="card-text">
                            {{ftdDate}}<sup>th</sup> {{ftdYear}} {{ftdTime}} The top 16 fundraisers will get to go to the in person competition. Odell is our wonderful partner and host. This won&#39;t be an AKC dog show or a trick competition. The event will be designed to be fun and accessible by all pups! Events will include: strutting down the catwalk (*ahem* dogwalk!), sinners vs. saints (will your dog choose you or bacon?), poop bag toss, and more!    
                        </p>
                        <a  target="_blank" href="https://www.odellbrewing.com/locations/fort-collins/" class="btn btn-primary cardBtn">View More Info</a>
                    </div>
                </div>
            </div>
      </div>

    </div>
      
</div>
<app-label-carousel></app-label-carousel>
