<div class="center pt-5 background">
    <h1 class="pt-5 center">FOCO TOP DOG</h1>
    <h3 class="center">Your dog on an O'Dell beer can!</h3>
    <div class="d-flex justify-content-center"><button type="button" class="btn ftdBtn col-11 col-md-8">{{ftdDate}}</button></div>
    <div class="b d-flex justify-content-center" >
        <a type="button" href="{{ftdLink}}" target="_blank" class="btn ftdBtn col-11 col-md-8" >Make your dog's page now!</a>
    </div>
</div>
<div class="overview pb-5">
    <div class="d-flex p-2 row">
        <div class="col-lg-6 col-md-6 col-sm-10">
            <div class="card p-3">
                <div class="card-body ">
                    <h4>
                    <fa-icon class="circle-icon"  [icon]="['fas', 'thumbs-up', ]"></fa-icon>
                    It's Easy!</h4>
                    <p>
                        All you need to do is create a fun profile for your dog and raise money for a good cause. Make sure to use your dog’s name in the profile instead of your own!
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10">
            <div class="p-4"> <h3>In Person Competition at ODells Brewing Company</h3>
                    
                Fort Collins is known for its dogs. Thousands of cute, cuddly pooches call this city home. However, the age-old question remains… Who is the top dog in Fort Collins?! Who is the leader of the pack? The best in show? We have teamed up with Odell Brewing to officially answer this question, and support a good cause while doing it 
                <fa-icon class="smile"  [icon]="['fas', 'face-smile-wink']"></fa-icon> .</div>
        </div>
    </div>
    
    <div class="d-flex p-2 pb-5 row">
        <div class="col-lg-6 col-md-6 col-sm-10">
            <div class="card p-3">
                <div class="card-body">
                    <h4>
                    <fa-icon  class="circle-icon" [icon]="['fas', 'paw']"></fa-icon>
                    The winner gets their dog’s image on an in-production run can of Odell beer</h4>
                    <p>
                        The winning dog will have their photo be forever enshrined on a can of Odell beer that they are creating just for this event! We will work with the owner on either selecting an appropriate photo, or taking one specifically for the prize.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-10 p-4">
            <h3>Every dollar you fundraise on your page will count as one vote for your dog.</h3>
 The top 16 fundraisers and the most engaging social media star will get to move on to the in-person (in-pup) event at Odell Brewery in September.
        </div>
    </div>
</div>
<div class="instructions">
    <div class="transition-instr"></div>
    <div class="instructions-content col-12 col-sm-7">
        <h2>Here’s how to do it:</h2>
        <p>
        The top 16 fundraisers and the most engaging social media star will get to move on to the in-person (in-pup) event at Odell Brewery in September.
        </p>
        
        <div ><a href="/home"><img class="img col-12 " src="assets/images/hops-31495_1280.webp" alt="Hops Filigree"></a></div>
        <div class="b  justify-content-center" >
                <a type="button" href="{{ftdLink}}" target="_blank" class="btn ftdBtn col-12" >Design your dog's page here</a>
        </div>
        <p>
            se platea dictumst. Morbi facilisis, sem porta semper hendrerit, est erat ornare velit, vel auctor augue lectus sed massa. Aliquam erat volutpat. Fusce facilisis risus quis urna placerat volutpat. Suspendisse nulla mi, lobortis a ultricies volutpat, ornare vitae metus. Aenean nec semper libero. Morbi auctor eros mauris, ornare suscipit purus sagittis in. Sed sit amet dignissim mau
        </p>
        
    </div>

</div>
<div class="col-12 clipX inbetween">
    <div class="col-sm-7 circle rounded-circle"></div>
</div>
<div class="colorSection container">
    <div class="">
        <div class="bd-highlight col-12 row">
            <div class="col-12 col-md-4 p-2  bd-highlight">
                <div class="card card-pink p-3">
                    <img class="card-img-top" src="assets/images/afa_logo.png" alt="AFA Logo">
                    <div class="card-body pt-1 ">
                        <h5 class="card-title">Beneficiary</h5>
                        <h6>Animal Friends Alliance</h6>
                        <p class="card-text">
                            Animal Friends Alliance emerged in January 2020 from the union of Fort Collins Cat Rescue & Spay/Neuter Clinic and Animal House Rescue & Grooming. The two joined forces to amplify our organization’s community impact and allow our programs and services to benefit more people and animals.
                        </p>
                    <a  target="_blank" href="https://www.savinganimalstoday.org/" class="btn btn-primary cardBtn">View More Info</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 p-2  bd-highlight">
                <div class="card card-green p-3">
                    <img class="card-img-top" src="assets/images/PITTIE_SOMBRERO.JPG" alt="Pitt Bull dog in a sombrero hat.">
                    <div class="card-body pt-1 ">
                        <h5 class="card-title">Fundraising</h5>
                        <p class="card-text">
                            Every dollar you fundraise counts as a vote on your page. Starting June 1, you can start fundraising. Set up your profile to let everyone know what makes your dog AWESOME! Then share that with everyone you want! Throughout the summer there will be various matching donations funded via sponsors and past winners of FOCO Top Dog. Make sure to keep a look out to make the most of your fundraising opportunities.
                        </p>
                    <a href="{{ftdLink}}" target="_blank" class="btn btn-primary cardBtn">View More Info</a>
                    </div>
                </div>
            </div><div class="col-12 col-md-4 p-2  bd-highlight">
                <div class="card card-blue p-3">
                    <img class="card-img-top" src="assets/images/odells_brewery.jpg" alt="ODells Brewery">
                    <div class="card-body pt-1 ">
                        <h5 class="card-title">In Person Event</h5>
                        <p class="card-text">
                            September The top 16 fundraisers will get to go to the in person competition. ODells is our wonderful partner and host. This won’t be an AKC dog show or a trick competition. The event will be designed to be fun and accessible by all pups! Events will include: strutting down the catwalk (*ahem* dogwalk!), sinners vs. saints (will your dog choose you or bacon?), poop bag toss, and more!    
                        </p>
                        <a  target="_blank" href="https://www.odellbrewing.com/locations/fort-collins/" class="btn btn-primary cardBtn">View More Info</a>
                    </div>
                </div>
            </div>
      </div>

    </div>
      
</div>
<div class="photoSection">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/blue_logo.png" class="d-block" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/PITTIE_SOMBRERO.JPG" class="d-bloc" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/blue_logo.png" class="d-block" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
</div>
