
.center{
    text-align: center;
}
.ftdBtn{
    background-color: #AE4510;
    color:white;
    font-family: Helvetica,Arial,Lucida,sans-serif!important;
    padding: 16px 30px 16px 30px;
    font-size:15px;
    font-weight:500;
    border-radius:100px;
    margin-bottom:2%;
    letter-spacing: 2px;
    box-shadow: 0px 10px 20px 0px #994722;
}

h1{
    letter-spacing: 5px;
    /* font-size: 60px; */
    line-height: 1.5em;
    font-weight: 700;
}

.background{
    /* background-color: #f3d373!important; */
    color:white;
    font-family: monospace;
    overflow:hidden;
}

.background:after{
    content: '';
    border-bottom-left-radius: 70% 10%;
    border-bottom-right-radius: 70% 10%;
    position: absolute;
  
    z-index: -1;
    top:0;
    width: 100%;
    background-color: #f3d373;
    height: 55%;
    
    transform:translate(-50%, 0.001%);
    overflow:hidden;
}
.header{
    width:100%;
    padding:0;
    margin:0;
    overflow: hidden;
}
.card{
    overflow:clip;
    border-radius:50px;
    box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),0 2px 2px hsl(0deg 0% 0% / 0.075),0 4px 4px hsl(0deg 0% 0% / 0.075),0 8px 8px hsl(0deg 0% 0% / 0.075),0 16px 16px hsl(0deg 0% 0% / 0.075);
    margin: 0 auto; /* Added */
    float: none; 
}
.card-img-top{
    width:125%;
    transform:translate(-8%, -15%);

}

.card-pink{
    background-color: rgba(232,55,105,0.87);
    .cardBtn{
        box-shadow: 0px 10px 20px 0px rgba(219, 22, 77);
    }
}
.card-blue{
    background-color: rgba(77, 160, 224, 0.87);
    .cardBtn{
        box-shadow: 0px 10px 20px 0px rgba(26, 108, 171);
    }
}
.card-green{
    background-color: rgba(60, 176, 72, 0.87);
    .cardBtn{
        box-shadow: 0px 10px 20px 0px rgba(12, 107, 22);
    }
}
.cardBtn{
    background-color: inherit;
    border:none;
}
.overview{
    padding-top:13%;
   background-image: url(../../assets/images/odells_brewery2.jpg);
   background-size: 100% 100%;
   /* min-height:100vh; */
   position: relative;
   z-index: -5;
   transform: translateY(-8%);
   overflow-x:clip;
   
}

.instructions{
    overflow-x:clip;
    background: linear-gradient(  rgba(243, 211, 115,0.8), rgba(243, 211, 115,1.5));
    min-height: 200px;
    /* padding-top:5%; */
    /* margin-top:-2%; */
    
}

.circle{
    background-color: #994722;
    float:right;
    position:absolute;
    transform: translate(95%, -90%);
    aspect-ratio: 1 / 1;
    z-index:0;
}
.yellowFont{
    color: #f0c74d;
}
.brownFont{
    color: #994722;
}
.bigFont{
    font-size:15em;
}
.pawTrailPadding{
    margin-top:-5%;
}
.transition-instr{
    min-height:100px;
    position:relative;
    width:100vw;
    overflow-x:clip;
}
.transition-instr:before{
    content: '';
    position: absolute;
    z-index: -1;
    margin-bottom:10%;
    width: 100%;
    background: linear-gradient(  rgba(243, 211, 115,0.4), rgba(243, 211, 115,1));
    height: 90%;
    transform-origin: left;
    transform:translateY(-95%) rotate(2deg);

    /* transform:translate(-50%, 0.001%); */
    /* overflow-x:hidden; */
}
.transition-instr:after{
    content:'';
    position:absolute;
    min-height:200px;
    background: linear-gradient(  rgba(135, 134, 134,.2), rgba(135, 134, 134,0.8));

    width:110%;
    transform-origin:left;
    transform: translateY(-40%) rotate( -5deg);
    z-index:-1;
    /* overflow:hidden; */
}
.instructions-content{
    padding: 0 5% 2% 5%;
    overflow-y:clip;
    transform:translateY(-10%);

}
fa-icon{
    color:#525252;
    font-size:50px;
    

}
.clipX{
    overflow-x: clip;
}
.pawsMobile{
    display:none !important;
    
}
.circle-icon {
    background: #f3d373;
    padding:2%;
    border-radius: 50%;
    margin-bottom:1rem;
    margin-right:1rem;
}
fa-icon.smile{
    font-size:20px;
    color: black;
}
.inbetween{
    position:relative;
}
.inbetween:before{
    content:'';

    position: absolute;
    z-index: -1;
    margin-bottom:10%;
    width: 200%;
    background: linear-gradient(  rgba(243, 211, 115,0.4), rgba(243, 211, 115,1));
    height:90%;
    transform-origin: left;
    transform:translateY(-95%) rotate(2deg) translateX(-10%);
}
.colorSection{
    overflow-x:clip;
    margin:1%;
    padding:3%;
    width:98vw;
    max-width:98%;
}

.card-body{
    h5{
        text-align: center;
    }
    p{
        padding-left:5%;
        padding-right: 5%;
    }
    a{
        padding:5%;
    }

}


/* media css */
@media only screen and (min-width: 2000px) {
    .background:after{
        height:25%;
}
  }
  @media only screen and (min-width: 1500px) {
    .background:after{
        height:50%;
}
.pawTrailPadding{
    margin-top:-15%;
}

  }
@media only screen and (min-width: 1500px) and (max-height:800px){
    .background:after{
        height:60%;
    }

}

  @media only screen and (min-width: 1500px) and (min-height: 1000px) {
    .background:after{
        height:35%;
}
  }
@media only screen and (max-width: 1200px) {
    .background:after{
            height:30%;
    }
    .overview{
        transform: translateY(-5%);
        padding-top:13%;
    } 
    .pawTrailPadding{
        margin-top:0;
        padding-top:20%;
    }
  }
  @media only screen and (max-width: 1200px) and (max-height:800px){
    .background:after{
        height:50%;
}
  }
  @media only screen and (max-width: 1200px) and (min-height: 1500px){
    .background:after{
        height:25%;
    }
  }
  @media only screen and (max-width: 1200px) and (max-height: 700px){
    .background:after{
        height:70%;
    }
  }

@media only screen and (max-width: 1000px) {
    .background:after{
        height:35%;
}
.pawsMobile{
    display:flex !important;
    
}
.bigFont{
    font-size: 12em;;
}
.notPawsTrailMobile{
    display:none !important;
}

    .overview{
        transform: translateY(-3%);
        padding-top:18%;

    } 
  }
  @media only screen and (max-width: 1000px) and (max-height:1000px){
    .background:after{
        height:48%;
    }
  }
 @media only screen and (max-width: 900px){


 }
@media only screen and (max-width: 800px) {
    .background:after{
        height:45%;
}
.notMobile{
    display:none !important;
}
.pawsMobile{
    display:flex !important;
    margin-top:-15%;
    
}
.doubleWidthMed{
    width:200%;
}

    .overview{
        transform: translateY(-2%);
        padding-top:20%;
       
    } 
    .top{
        padding-top:15%;
    }

  }
  @media only screen and (max-width: 800px) and (max-height:1000px) {
    .background:after{
        height:60%;
}

  }
  @media only screen and (max-width: 700px){
    .pawsMobile{
        margin-top:2%;
        
    }
  }
  @media only screen and (max-width: 576px) {
    .background:after{
        height:50%;
    }
    .pawsMobile{
        display:none !important;
        
    }
    .doubleWidthMed{
        width:100%;
    }


  }
  @media only screen and (max-width: 400px){
    .background:after{
        height:50%;
    }

  }
  @media only screen and (max-width: 400px) and (max-height:800px){
    .background:after{
        height:70%;
         
    }

  }
 /* @media only screen and (max-height: 800px) {
    .background:after{
        height:67%;
}
} */

 
  /* @media only screen and (max-width: 400px) {
    .background:after{
        height:75%;
}
   
  } */
  /* @media only  screen and (max-width: 350px) {
    .background:after{
        height:56%;
}
   
  } */




