<div class="headerEnd">
  <svg id="wave" style="transform:rotate(180deg); transition: 0.3s" viewBox="0 0 1440 270" version="1.1" xmlns="http://www.w3.org/2000/svg"><defs><linearGradient id="sw-gradient-0" x1="0" x2="0" y1="1" y2="0"><stop stop-color="rgba(243, 211, 115, 1)" offset="0%"></stop><stop stop-color="rgba(243, 211, 115, 1)" offset="100%"></stop></linearGradient></defs><path style="transform:translate(0, 0px); opacity:1" fill="url(#sw-gradient-0)" d="M0,81L480,216L960,189L1440,243L1920,0L2400,54L2880,243L3360,27L3840,54L4320,189L4800,108L5280,189L5760,0L6240,243L6720,243L7200,108L7680,0L8160,135L8640,135L9120,189L9600,162L10080,27L10560,108L11040,108L11520,54L11520,270L11040,270L10560,270L10080,270L9600,270L9120,270L8640,270L8160,270L7680,270L7200,270L6720,270L6240,270L5760,270L5280,270L4800,270L4320,270L3840,270L3360,270L2880,270L2400,270L1920,270L1440,270L960,270L480,270L0,270Z"></path></svg>


</div>
<div class="pt-5"></div>
<div class="pt-5 desktopHeader">
    <h1 class="pt-5">Sponsors</h1>
</div>
<div class="mobileHeader">
  <h1 class="pt-2">Sponsors</h1>
</div>

<div class="container">
    <a target="_blank" href="https://poudrefeed.com/"><img class="img " src="assets/images/sponsors/poudre_logo.png" alt="Poudre Pet & Feed Logo"></a>
    <div class="row align-items-center">
      <div class="col-sm p-5 p-sm-3">
        <a target="_blank" href="https://www.arulainc.com/"><img class="img " src="assets/images/sponsors/arula_logo.png" alt="Arula Logo"></a>
      </div>
      <div class="col-sm p-5 p-sm-3">
        <a target="_blank" href="https://www.otterbox.com/"><img class="img " src="assets/images/sponsors/OtterCares-Wordmark.png" alt="Otter Cares Logo"></a>
      </div>
      <div class="col-sm p-5 p-sm-3">
        <a target="_blank" href="https://www.alpinebank.com/who-we-are/location-details.html?id=12757&location-information=fort-col-sm p-5 p-sm-3lins-1608-s-col-sm p-5 p-sm-3lege-avenue--fort-col-sm p-5 p-sm-3lins-co-80525"><img class="img " src="assets/images/sponsors/alpine_bank_logo.png" alt="Alpine Bank Logo"></a>
      </div>
      
    </div>
    <div class="row align-items-center">
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.remax.com/"><img class="img " src="assets/images/sponsors/Bj-Remax-Logo.png" alt="Remax Logo"></a>
        </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.preciousmemoriespetcemetery.com/"><img class="img " src="assets/images/sponsors/precious_memories_logo.png" alt="Precious Memories Logo"></a>
        </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.advancedanimalcareofcol-sm p-5 p-sm-3orado.com/"><img class="img " src="assets/images/sponsors/AdvancedAnimalCareofColorado_logo.png" alt="AdvancedAnimalCareofcol-sm p-5 p-sm-3orado_logo"></a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.ashcroftpetresort.com/"><img class="img " src="assets/images/sponsors/Ashcroft-Pet-Resort-Logo.png" alt="Ashcroft-Pet-Resort-Logo"></a>
  
          </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://caninecandybiscuits.com/"><img class="img " src="assets/images/sponsors/canine_candy_logo.jpg" alt="Canine Candy Logo"></a>
        </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href=""><img class="img " src="assets/images/sponsors/" alt=""></a>
        </div>
      </div>
      <div class="row">
        <h2>Want to Sponsor?</h2>
        <p> <a href="/sponsorhowto">See more information here!</a></p>
        <p class="fs-5">If you&#39;re interested in sponsoring Fort Collins Top Dog 2025 and supporting a great
          cause, contact us at <a href="mailto:focotopdog@gmail.com">focotopdog&#64;gmail.com</a>. We’d love to partner with you and make a
          difference in our community!</p>
      </div>
  </div>
<div class="p-0">
    <img class="img col-12" src="assets/images/banner-e1685147914769.png" alt="Top Dog Banner">
</div>