<div class="pt-5">
    <h1 class="pt-5">Sponsors</h1>
</div>

<div class="container">
    <a target="_blank" href="https://poudrefeed.com/"><img class="img " src="assets/images/sponsors/poudre_logo.png" alt="Poudre Pet & Feed Logo"></a>
    <div class="row align-items-center">
      <div class="col-sm p-5 p-sm-3">
        <a target="_blank" href="https://www.arulainc.com/"><img class="img " src="assets/images/sponsors/arula_logo.png" alt="Arula Logo"></a>
      </div>
      <div class="col-sm p-5 p-sm-3">
        <a target="_blank" href="https://www.summitdogtraining.com/"><img class="img " src="assets/images/sponsors/summit_logo.png" alt="Summit Logo"></a>
      </div>
      <div class="col-sm p-5 p-sm-3">
        <a target="_blank" href="https://www.alpinebank.com/who-we-are/location-details.html?id=12757&location-information=fort-col-sm p-5 p-sm-3lins-1608-s-col-sm p-5 p-sm-3lege-avenue--fort-col-sm p-5 p-sm-3lins-co-80525"><img class="img " src="assets/images/sponsors/alpine_bank_logo.png" alt="Alpine Bank Logo"></a>
      </div>
      
    </div>
    <div class="row align-items-center">
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.remax.com/"><img class="img " src="assets/images/sponsors/Bj-Remax-Logo.png" alt="Remax Logo"></a>
        </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.preciousmemoriespetcemetery.com/"><img class="img " src="assets/images/sponsors/precious_memories_logo.png" alt="Precious Memories Logo"></a>
        </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.advancedanimalcareofcol-sm p-5 p-sm-3orado.com/"><img class="img " src="assets/images/sponsors/AdvancedAnimalCareofColorado_logo.png" alt="AdvancedAnimalCareofcol-sm p-5 p-sm-3orado_logo"></a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href="https://www.ashcroftpetresort.com/"><img class="img " src="assets/images/sponsors/Ashcroft-Pet-Resort-Logo.png" alt="Ashcroft-Pet-Resort-Logo"></a>
  
          </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href=""><img class="img " src="assets/images/sponsors/" alt=""></a>
        </div>
        <div class="col-sm p-5 p-sm-3">
          <a target="_blank" href=""><img class="img " src="assets/images/sponsors/" alt=""></a>
        </div>
      </div>
      <div class="row">
        <h2>Want to Sponsor?</h2>
        <p class="fs-5">If you&#39;re interested in sponsoring Fort Collins Top Dog 2025 and supporting a great
          cause, contact us at <a href="mailto:focotopdog@gmail.com">focotopdog&#64;gmail.com</a>. We’d love to partner with you and make a
          difference in our community!</p>
      </div>
  </div>
<div class="p-0">
    <img class="img col-12" src="assets/images/banner-e1685147914769.png" alt="Top Dog Banner">
</div>