<div class="pt-5">
    <h1 class="pt-5">Sponsors</h1>
</div>

<div class="container">
    <a target="_blank" href="https://poudrefeed.com/"><img class="img " src="assets/images/sponsors/poudre_logo.png" alt="Poudre Pet & Feed Logo"></a>
    <div class="row align-items-center">
      <div class="col-sm p-3 p-sm-1">
        <a target="_blank" href="https://www.arulainc.com/"><img class="img " src="assets/images/sponsors/arula_logo.png" alt="Arula Logo"></a>
      </div>
      <div class="col-sm p-3 p-sm-1">
        <a target="_blank" href="https://www.summitdogtraining.com/"><img class="img " src="assets/images/sponsors/summit_logo.png" alt="Summit Logo"></a>
      </div>
      <div class="col-sm p-3 p-sm-1">
        <a target="_blank" href=""><img class="img " src="assets/images/sponsors/" alt=""></a>

      </div>
    </div>
    <div class="row align-items-center">
        <div class="col-sm p-3 p-sm-1">
          <a target="_blank" href="https://www.remax.com/"><img class="img " src="assets/images/sponsors/Bj-Remax-Logo.png" alt="Remax Logo"></a>
        </div>
        <div class="col-sm p-3 p-sm-1">
          <a target="_blank" href="https://www.preciousmemoriespetcemetery.com/"><img class="img " src="assets/images/sponsors/precious_memories_logo.png" alt="Precious Memories Logo"></a>
        </div>
        <div class="col-sm p-3 p-sm-1">
          <a target="_blank" href="https://www.advancedanimalcareofcol-sm p-3 p-sm-1orado.com/"><img class="img " src="assets/images/sponsors/AdvancedAnimalCareofColorado_logo.png" alt="AdvancedAnimalCareofcol-sm p-3 p-sm-1orado_logo"></a>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-sm p-3 p-sm-1">
          <a target="_blank" href="https://ocraw.com/"><img class="img " src="assets/images/sponsors/ocraw_logo.png" alt="OC Raw Logo"></a>
        </div>
        <div class="col-sm p-3 p-sm-1">
          <a target="_blank" href="https://www.alpinebank.com/who-we-are/location-details.html?id=12757&location-information=fort-col-sm p-3 p-sm-1lins-1608-s-col-sm p-3 p-sm-1lege-avenue--fort-col-sm p-3 p-sm-1lins-co-80525"><img class="img " src="assets/images/sponsors/alpine_bank_logo.png" alt="Alpine Bank Logo"></a>
        </div>
        <div class="col-sm p-3 p-sm-1">
        <a target="_blank" href="https://www.ashcroftpetresort.com/"><img class="img " src="assets/images/sponsors/Ashcroft-Pet-Resort-Logo.png" alt="Ashcroft-Pet-Resort-Logo"></a>

        </div>
      </div>
  </div>
<div class="p-0">
    <img class="img col-12" src="assets/images/banner-e1685147914769.png" alt="Top Dog Banner">
</div>